:root {
  --header-height: 160px;
}

body {
  margin: 0;
  font-family: sans-serif;
  height: 100vh;
  overflow: hidden;
  /* prevent body scrolling */
}

#header {
  position: sticky;
  top: 0;
  z-index: 1000;
  height: var(--header-height);

  background-color: #1e293b;
  color: #fff;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 50px 100px;
  box-sizing: border-box;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#header h1 {
  margin: 0;
  font-size: 40px;
}

#header button {
  font-size: large;
  padding: 25px 50px;
  border: none;
  border-radius: 6px;
  background: #ef4444;
  color: #fff;
  cursor: pointer;
}

#markAllWatchedBtn {
  padding: 8px 14px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 6px;
  border: none;
}

#map-wrapper {
  height: calc(100vh - var(--header-height));
  overflow: auto;
}

#map-container {
  position: relative;
  min-width: 1000px;
  min-height: 1000px;
  margin: 0 auto;
  background-color: white;
  border: 1px solid red;
}

#connections {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

#nodes {
  position: relative;
  z-index: 2;
}

.node {
  width: clamp(120px, 18vw, 240px);
  aspect-ratio: 2 / 3;
  position: absolute;
  overflow: hidden;
  border-radius: 8px;
  transition: transform 0.15s ease;
}

.node:hover {
  transform: scale(1.05);
}

.node.watched {
  background: #16a34a;
}

.node.locked {
  display: none;
  pointer-events: none;
}

.node img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.node .checkmark {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;

  background: #22c55e;
  color: white;
  font-weight: bold;
  font-size: 14px;

  border-radius: 50%;
  text-align: center;
  line-height: 20px;

  pointer-events: none;
}